In [1]:
import pandas as pd

In [4]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

NameError: name 'engine' is not defined

In [7]:
from sqlalchemy import create_engine

In [8]:
    engine = create_engine(
                f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'
            )

NameError: name 'pg_user' is not defined

In [9]:
df_zones.dtypes

LocationID      int64
Borough           str
Zone              str
service_zone      str
dtype: object